<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniRoom - Booking Info</title>
    <link rel=stylesheet href="bookingInfo.css"></link>
</head>
<header>
    <%- include('../partials/navbar') %>
</header>
<body>
  <div class="body__container">
    <div class="search__container">
        <form action="/searchStudent" method="post">
            <div class="search__wrapper">
                <input type="text" placeholder="Enter ID Here" name="searchID" class="searchIn">
                <button type="submit" class="searchBtn">Search</button>
            </div>
        </form>
    </div>    
    </div>
    <%- include('../partials/bookingInfoCSS') %>
    <div class="main__container">
        <div class="information">
            <h3>Student Name:</h3>
            <p name="StudentName"><%=name%></p><br>
            <h3>Student ID:</h3>
            <p name="ID"><%=ID%></p><br>
            <h3>Attendance Rate:</h3>
            <p name="attendance"><%=attendance%></p><br>
            <h3>Standing:</h3>
            <p name="standing"><%=standing%></p><br>
            <h3>Room Number/Building Number</h3>
            <p name="roomBuildingNumber"><%=roomNum%></p><br>
            <h3>Booking Number</h3>
            <p name="bookNum"><%=bookingNum%></p><br>
        </div>
        <div class="interactables">
            <button name="blacklistStudent" id="blacklist" onclick="addStudentToBlacklist()">Add Student to Blacklist</button>

            <script>
            function addStudentToBlacklist() {
              var reason = prompt('Enter the reason for the blacklisting:');
              
              fetch('/blacklistStudent', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ reason })
              })
              .then(response => response.json())
              .then(data => console.log(data))
              .catch(error => console.error(error));
            }
            </script>
            
            <button onclick="changeDate()">Change Date</button>
            
            <script>
            function changeDate() {
              var startDate = prompt('Enter new start date:');
              var endDate = prompt('Enter new end date:');
              
              fetch('/changeDate', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ startDate, endDate })
              })
              .then(response => response.json())
              .then(data => console.log(data))
              .catch(error => console.error(error));
            }
            </script>
            
            <button onclick="cancelBooking()">Cancel Booking</button>
            
            <script>
            function cancelBooking() {
              var confirmation = prompt('Are you sure you want to cancel this booking?');
              
              if (confirmation) {
                fetch('/cancelBooking', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ confirmation })
                })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
              }
            }
            </script>
            
            
            <button onclick="addInfraction()">Add Infraction</button>
            
            <script>
            function addInfraction() {
              var infraction = prompt('Enter infraction:');
              
              if (infraction) {
                fetch('/addInfraction', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ infraction })
                })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
              }
            }
            </script>
            
            
            </div>
          </div>
    </div>
    <!-- <script>
        document.getElementById("blacklist").addEventListener(onclick,()=>{
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/blacklistStudent", true)
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.send(JSON.stringify({
                id:document.getElementsByName("ID").innerText
            }))
        }) 
    </script> -->
</body>
</html>